.SelectionOptionDiv {
  margin-bottom: 2em;
}

.Button {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  height: 3em;
  width: 14em;
  max-width: 80%;
  border-radius: 40px;
  background: none;
  background-color: rgba(255, 255, 0, 0.2);
  border: 2px solid yellow;
  color: yellow;
  font-size: 1.2em;
}

.OnlineButton {
  background-color: yellow;
  color: #161c22;
}

.SelectionLogoDiv {
  position: relative;
  height: 8em;
  width: 100%;
  margin-bottom: 1em;
}

.SelectionLogoImg {
  height: 100%;
  width: 8em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.Button:hover {
  cursor: pointer;
  background-color: yellow;
  color: #161c22;
}

.Disabled {
  border-color: gray;
  background-color: gray !important;
  cursor: default !important;
  color: #161c22 !important;
}

.SelectionFooter {
  position: absolute;
  text-align: center;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(56, 56, 56, 0.568);
  padding: 0.8em;
  color: gray;
}

.SelectionFooter a {
  text-decoration: none;
  color: gray;
  padding: 0 2rem 0 2rem;
}

@media (max-width: 500px) {
  .SelectionFooter a {
    padding: 0 1rem 0 1rem;
    font-size: 0.8rem;
  }
  .SelectionFooter {
    padding: 0.6rem;
  }
}

@media (max-height: 570px) {
  .SelectionFooter {
    position: relative;
    padding: 0.6rem;
  }
}
