.ConnectionStatsContainer {
  color: white;
  position: fixed;
  bottom: 0em;
  left: 0;
  right: 0;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 3em;
  z-index: 3;
}

.ConnectionStatsOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}
