.MatchResultsOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

@supports not (backdrop-filter: blur) {
  .MatchResultsOverlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.MatchResultsContainer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 16em;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 4em;
  z-index: 3;
}

.MatchResultsHeader {
  font-size: 1.5em;
}

.MatchResultsVerdict {
  font-size: 1.5em;
}

.MatchResultsAdditionalVerdictInfo {
  height: 1.5em;
  line-height: normal;
  color: red;
}

.MatchResultsButtons {
  margin: 1em;
}

.Button {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  height: 3em;
  width: 14em;
  border-radius: 40px;
  background: none;
  background-color: rgba(255, 255, 0, 0.2);
  border: 2px solid yellow;
  color: yellow;
  font-size: 1.2em;
}

.Button:hover {
  cursor: pointer;
  background-color: yellow;
  color: #161c22;
}
