.App {
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(22, 28, 34, 1),
      rgba(22, 28, 34, 0.98),
      rgba(22, 28, 34, 0.8),
      rgba(22, 28, 34, 0.4)
    ),
    url("./assets/bg.gif");
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.BodyInnerDiv {
  backdrop-filter: blur(16px);
  height: 100%;
  width: 100%;
}
