.Input {
  border-radius: 40px;
  font-size: 1.5em;
  padding: 0.5em;
  border: 3px solid;
  text-align: center;
  margin-bottom: 0.2em;
}

.RegisterTextDiv {
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
}

.ErrorText {
  color: red;
  font-size: 1em;
}

.InfoText {
  color: rgb(0, 255, 0);
  font-size: 1em;
}
.TagInputError {
  border: 3px solid red;
}
.PasswordInputError {
  border: 3px solid red;
}
.Button {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  height: 3em;
  width: 14em;
  border-radius: 40px;
  background: none;
  background-color: rgba(255, 255, 0, 0.2);
  border: 2px solid yellow;
  color: yellow;
  font-size: 1.2em;
}

.Button:hover {
  cursor: pointer;
  background-color: yellow;
  color: #161c22;
}

.Disabled {
  border-color: gray;
  background-color: gray !important;
  cursor: default !important;
  color: #161c22 !important;
}

.RegisterLoginDiv {
  color: white;
  margin-bottom: 0.5em;
}

.RegisterLoginDiv a {
  color: yellow;
}
